body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 95% Arial, Helvetica, sans-serif;
	background: radial-gradient(rgb(250, 231, 209), rgb(245, 220, 191), #C9AD7F);
}

.cuadro{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.form{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: black;
	font-size: 35px;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
h3{
    color: black;
    font-size: 15px;
    margin-left: 72px;
}
input{
	width: 60%;
	height: 20px;
	background: white;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
    border-radius: 60px;
    background: #e9bb8e;
    border: 2px solid #d89e65;
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background-color: #F7BD56;
    color: black;
    text-shadow: 0 0 10px solid #A06C3F;
    border: 2px solid #f7ab29;
}
.list{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.list label{
    padding-top: 10px;
    font-size: 30px;
	color: black;
	transform: scale(.6);
}
.list table{
    margin-top: -10px;
}
.list tr{
    text-align: center;
}
.list th{
    
    font-size: 15px;
}

#chk:checked ~ .list{
	transform: translateY(-500px);
}
#chk:checked ~ .list label{
	transform: scale(1);	
}
#chk:checked ~ .form label{
	transform: scale(.6);
}



