<!DOCTYPE html>
<html>

<body>
  <div class="cuadro">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="form">
      <form [formGroup]="eventForm" (ngSubmit)="save()">
        <label for="chk" class="crear">Crear evento</label>
        <input type="text" placeholder="ID del evento" formControlName="id">
        <input type="text" placeholder="Nombre del evento" formControlName="nombre">
        <h3>Fecha y hora del evento</h3>
        <input type="datetime-local" formControlName="fecha">
        <button type="submit" [disabled]="eventForm.invalid">Crear evento</button>
      </form>
    </div>

    <div class="list">
      <label for="chk" aria-hidden="true">Futuros eventos</label>
      <table>
        <thead>
          <tr>
            <th>Nombre del evento</th>
            <th>Fecha del evento</th>
            <th>Link anfitrión</th>
            <th>Link invitados</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of evento">
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item}}</td>
            <td>{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>